#whole {
    background: purple;
}

td {
    width: 100px;
    height:100px;
    border: 1px solid black;
}

.dayOfWeek {
    border-bottom: 1px solid black;
    text-align: center;
}

.dayMeals {
    height: 100px;
}

#days {
    width: 70%;
    margin: 0 auto;
    background: white;
}
