/*setting up the window*/
@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

body {
    background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}


/*bulk of the app*/
#title {
    color: rgb(255, 250, 240);
    font-size: 50px;
    text-align: center;

}

.jumbotron {
    margin-bottom: 0;
    background: rgb(53,53,53);
    padding-bottom: 32px;
    padding-top: 32px;

}

#whole {
    background-image: url(food.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/*#cutLines {
    width: 75%;
}*/
select {
    width: 30%;
    background: rgb(255, 250, 240);
    height: 50%;
    margin-top: 20px;
    color: rgb(53,53,53);
    float: left;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: rgb(53,53,53);
    padding: 0;
}

#weeklySpending {
    color: rgb(53,53,53);
}


/*for the days of the week and its meals*/
#spacing-top {
    height: 50px;
}

#spacing-bottom {
    height: 125px;
}

#foodPointContainer {
    height: 50%;
    margin-top: 20px;
    width:30%;
    background: rgb(255, 250, 240);
    float: left;
    margin-right: 1.5%;
    margin-left: 1.5%;
    text-align: center;
}

.dayOfWeek {
    border-bottom: 1px solid black;
    text-align: center;
}

.dayMeals {
    min-height: 100px;
}

.nomargin {
    margin-bottom: 0;
}

#days {
    opacity: .85;
    width: 70%;
    margin: 0 auto;
    background: white;
    text-align: center;
}

.delete {
    background: #e74c3c;
    height: 30px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
.nomargin:hover .delete {
    width: 40px;
    opacity: 1.0;
}
