body {
    width: 250px;
    margin: 0;
    font-family: Roboto Slab;
}

.header {
    width: 100%;
    background: rgb(66, 92, 244);
    padding-top: 10px;
    padding-bottom: 10px;
}

.devil {
    color: blue;
    font-size: 30px;
}

.fa-arrow-circle-down {
    float:right;
    margin-top: 0;
    padding: 0;
}

#longArrow {
    margin-left: 75px;
}

.meal {
    height: 25px;
    border-top: 0.5px solid rgb(191, 191, 191);
    border-bottom: 0.5 solid rgb(191, 191, 191);
    width: 100%;
    padding-bottom: 10px;
}

.displayed {
    height = 0
}

.price {
    float: right;
}

.mealBox {
    margin-left: 5px;
    margin-right: 5px;
}

#totalPoints {
    margin: 10px auto 5px auto;
    margin-bottom: 10px;
    width: 200px;
    border: 1px solid black;
    box-shadow: 2.5px 2.5px 1.25px #888888;
}

#totalPointsText {
    font-size: 14px;
    margin: 2.5px 2.5px 1.25px 5px;
    font-weight: 500;
}

#numPoints {
    font-size: 24px;
    text-align: center;
    margin: 0 0 10px 0;
}

/* gradient bar for weekly food points*/
#weeklyPoints {
    width: 175px;
    height: 20px;
    background: linear-gradient(to right, rgb(66, 92, 244), rgb(244, 66, 66));
    margin: 0;
    float: left;
}

#foodPoints {
    color: white;
    text-align: center;
    margin: 0 auto;
}

#limit {
    float: right;
}

#range {
    width: 175px;
    margin: 15px 0 0 0;
}

#weeklyContainer {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 35px;
}

#arrow {
    width: 20px;
    float: left;
    margin-left: 5px;
    font-size: 20px;
    padding: 0;
}

#mealList {
    width: 200px;
    height: 100px;
    overflow: scroll;
    margin: 0 auto;
    display: none;
    border: 2px solid rgb(66, 92, 244);
}

#everything {
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    display: none;
}
